body {

    display: flex;
    justify-content: space-around;
    background: linear-gradient(red, blue) ;
}
section {
    font-family: Verdana, Calibri, "Bookman Old Style";
    font-weight: Bold;
    padding: 0 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-clip: padding-box;
    background: url("world.png") no-repeat;
    background-size: contain;
    /*border: 3px solid grey;*/
}
.block {
    background: linear-gradient(45deg, black, gray);
    margin: 2px;
    padding: 2px;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center !important;
    flex-wrap: wrap;
    width: 450px;
    height: 450px;
    justify-content: space-around;
    font-variant: small-caps;
}
.item {
    background: linear-gradient(194deg, #471c1c 20%, #7a6d6d);
    border: 2px solid cadetblue;
    border-radius: 15px !important;
    align-content: flex-start;
}
p {
    font-family: Calibri Light;
    text-align: center;
}
h1 {
    font-size: 45px;
    text-align: center;
}
.card {
    margin: 3px;
    width: 120px;
    height: 120px;
    background: transparent;
    perspective: 2000px;
}
.flip-card {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.card:hover .flip-card {
    transform: rotateY(180deg);
}
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.front {
    background-color: coral;
    color: white;
}
.back {
    background-color: coral;
    color: white;
    transform: rotateY(180deg);
}
